<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aiton.bamin.changtukepiao"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0.0版本"> <!-- 百度地图 -->
    <!-- 读取短信 -->
    <!-- 支付宝相关权限 -->
    <!-- 和短信验证权限重复 -->
    <!-- 支付宝相关权限 -->
    <!-- 友盟统计 -->
    <uses-sdk android:minSdkVersion="4"/>
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 弹窗权限 -->
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 短信验证 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 短信验证 -->
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- 百度地图 -->
    <!-- 百度地图开发相关权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- webview定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- webview定位权限 -->
    <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 友盟统计 -->
    <!-- 二维码相关权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 微信支付相关权限 -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 二维码相关权限 -->
    <application
        android:name=".Zeverything.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56fb7ace67e58eb443001d75"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="zidongshengji"/>
        <!-- 友盟统计 -->
        <!-- 百度地图开发KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HYvoiVpV76vIbIehICpOZ1XQ38eIRjhK"/>

        <activity
            android:name=".Bchangtukepiao.activity.MainActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 支付宝相关activity -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!-- 支付宝相关activity -->

        <activity
            android:name=".Bchangtukepiao.activity.SelectStationSetOutActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".Bchangtukepiao.activity.TicketActivity"/>
        <activity
            android:name=".Zeverything.SmsLoginActivity"
            android:label="@string/title_activity_sms_login">
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".Bchangtukepiao.activity.FillinOrderActivity"
            android:label="@string/title_activity_fillin_order"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.AddFetcherActivity"
            android:label="@string/title_activity_add_fetcher">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.UsedContact"
            android:label="@string/title_activity_used_contact">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.TicketNotice"
            android:label="@string/title_activity_ticket_notice">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.SoftInfo"
            android:label="@string/title_activity_soft_info">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.OrderDeatilActivity"
            android:label="@string/title_activity_order_deatil">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.CouponInfoActivity"
            android:label="@string/title_activity_coupon_info">
        </activity>
        <activity
            android:name=".Zeverything.WelcomeActivity"
            android:label="@string/title_activity_welcome">
        </activity>
        <activity
            android:name=".Zeverything.GuideActivity"
            android:label="@string/title_activity_guide">
        </activity>
        <activity
            android:name=".Zeverything.EverytingActivity"
            android:label="@string/title_activity_everyting"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wxa67cb8a1e90e486a"/>
            </intent-filter>
        </activity>

        <!-- 打车类Activity -->
        <activity
            android:name=".Cdachezuche.QiYeZuChe.ZuChenJiGouYongCheActivity"
            android:label="@string/title_activity_ji_gou_yong_che">
        </activity>
        <activity
            android:name=".Cdachezuche.ZiJiaZuChe.ZuCheChooseCarTypeActivity"
            android:label="@string/title_activity_ji_gou_yong_che02">
        </activity>
        <!-- 打车类Activity -->
        <!-- 公交 -->
        <activity
            android:name=".Abusline.busline_aiton.MainBusLineActivity"
            android:label="@string/app_name">
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".Abusline.busline_aiton.CollectionAddActivity"
            android:label="@string/title_activity_collection_add">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.InputLocActivity"
            android:label="@string/input_Loc_Activity">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.ChooseCityActivity"
            android:label="@string/title_activity_choose_city">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.DownLoadOffLineMapActivity"
            android:label="@string/title_activity_down_load_off_line_map">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.BusLineInfoActivity"
            android:label="@string/title_activity_bus_line_info">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.PayBusLineActivity"
            android:label="@string/title_activity_pay">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.MapActivity"
            android:label="@string/title_activity_map">
        </activity>
        <!-- 公交 -->
        <!-- 吃喝玩乐 -->
        <activity
            android:name=".Dchihewanle.MainCheHeWanLeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Dchihewanle.MeiYuanActivity"
            android:label="@string/title_activity_mei_yuan">
        </activity>
        <activity
            android:name=".Dchihewanle.QiangGuoActivity"
            android:label="@string/title_activity_qiang_guo">
        </activity>
        <activity
            android:name=".Dchihewanle.AActivity"
            android:label="@string/title_activity_a">
        </activity>
        <activity
            android:name=".Dchihewanle.BActivity"
            android:label="@string/title_activity_b">
        </activity>
        <activity
            android:name=".Dchihewanle.CActivity"
            android:label="@string/title_activity_c">
        </activity>
        <activity
            android:name=".Dchihewanle.EActivity"
            android:label="@string/title_activity_e">
        </activity>
        <activity
            android:name=".Dchihewanle.DActivity"
            android:label="@string/title_activity_d">
        </activity>
        <activity
            android:name=".Dchihewanle.FActivity"
            android:label="@string/title_activity_f">
        </activity>
        <activity
            android:name=".Dchihewanle.GActivity"
            android:label="@string/title_activity_g">
        </activity>
        <activity
            android:name=".Dchihewanle.HActivity"
            android:label="@string/title_activity_h">
        </activity>
        <activity
            android:name=".Dchihewanle.IActivity"
            android:label="@string/title_activity_i">
        </activity>
        <activity
            android:name=".Dchihewanle.JActivity"
            android:label="@string/title_activity_j">
        </activity>
        <activity
            android:name=".Dchihewanle.KActivity"
            android:label="@string/title_activity_k">
        </activity>
        <activity
            android:name=".Dchihewanle.LActivity"
            android:label="@string/title_activity_l">
        </activity>
        <!-- 吃喝玩乐 -->
        <!-- 代办跑腿 -->
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.DaiBanPaoTuiMainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.PaoTuiActivity"
            android:label="@string/title_activity_pao_tui">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.PaoTuiShunGouActivity"
            android:label="@string/title_activity_pao_tui_shun_gou">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.GouWuCheActivity"
            android:label="@string/title_activity_gou_wu_che">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.PaoTuiQuSongActivity"
            android:label="@string/title_activity_pao_tui_qu_song">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.PaoTuiQuSong02Activity"
            android:label="@string/title_activity_pao_tui_qu_song02">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.PaoTuiPaiDuiActivity"
            android:label="@string/title_activity_pao_tui_pai_dui">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.PaoTuiPaiDui02Activity"
            android:label="@string/title_activity_pao_tui_pai_dui02">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.SiRenDingZhiActivity"
            android:label="@string/title_activity_si_ren_ding_zhi">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.SiRenDingZhi02Activity"
            android:label="@string/title_activity_si_ren_ding_zhi02">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.DaiJiaActivity"
            android:label="@string/title_activity_dai_jia">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.JiaoNaFaKuanActivity"
            android:label="@string/title_activity_jiao_na_fa_kuan">
        </activity>
        <activity
            android:name=".Ddaibanpaotui.activity_daibanpaotui.SongCanActivity"
            android:label="@string/title_activity_song_can">
        </activity>
        <!-- 代办跑腿 -->
        <!-- 汽车管家 -->
        <activity
            android:name=".Eqicheguanjia.activity_qicheguanjia.QiCheGuanJiaMainActivity"
            android:label="@string/app_name">
        </activity>
        <!-- 汽车管家 -->
        <activity
            android:name=".Jyouhuichongzhi.YuoHuiChongZhiActivity"
            android:label="@string/title_activity_yuo_hui_chong_zhi">
        </activity>
        <activity
            android:name=".Itekuaishangcheng.TeKuaiShangChengActivity"
            android:label="@string/title_activity_te_kuai_shang_cheng">
        </activity>
        <!-- 汽车管家 -->
        <!-- 旅行旅游 -->
        <activity
            android:name=".Flvyoulvxing.MainlvyouActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Flvyoulvxing.ChuJingYouActivity"
            android:label="@string/title_activity_chu_jing_you">
        </activity>
        <activity
            android:name=".Flvyoulvxing.GuoNeiYouActivity"
            android:label="@string/title_activity_guo_nei_you">
        </activity>
        <activity
            android:name=".Flvyoulvxing.ZhouBianYouActivity"
            android:label="@string/title_activity_zhou_bian_you">
        </activity>
        <!-- 旅行旅游 -->
        <!-- 快递物流 -->
        <!-- 快递物流 -->


        <!-- 保险超市 -->
        <activity
            android:name=".Hbaoxianchaoshi.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.WebActivity"
            android:label="@string/title_activity_web">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.SetActivity"
            android:label="@string/title_activity_set">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.WodebaodanActivity"
            android:label="@string/title_activity_wodebaodan">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.WodedingdanActivity"
            android:label="@string/title_activity_wodedingdan">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.WodehongbaoActivity"
            android:label="@string/title_activity_wodehongbao">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.BeibaorenActivity"
            android:label="@string/title_activity_beibaoren">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.GerenxinxiActivity"
            android:label="@string/title_activity_gerenxinxi">
        </activity>
        <activity
            android:name=".Hbaoxianchaoshi.XiaoxizhongxinActivity"
            android:label="@string/title_activity_xiaoxizhongxin">
        </activity>

        <!-- 保险超市 -->

        <activity
            android:name=".Abusline.busline_aiton.InPutLocAllActivity"
            android:label="@string/title_activity_in_put_loc_all">
        </activity>
        <activity
            android:name=".Abusline.busline_aiton.TransitRouteActivity"
            android:label="@string/title_activity_transit_route">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.SelectStationArriveActivity"
            android:label="@string/title_activity_select_station_arrive"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".Cdachezuche.QiYeZuChe.ZuCheCheckOrderDetailActivity"
            android:label="@string/title_activity_zu_che_order_detail">
        </activity>
        <activity
            android:name=".Cdachezuche.QiYeZuChe.OrderSuccessfullyActivity"
            android:label="@string/title_activity_order_successfully">
        </activity>
        <activity
            android:name=".Cdachezuche.DaCheZhuCheActivity.ZuCheChooseCityActivity"
            android:label="@string/title_activity_zu_che_choose_city">
        </activity>
        <activity
            android:name=".Cdachezuche.DaCheZhuCheActivity.StoresMapActivity"
            android:label="@string/title_activity_stores_map">
        </activity>
        <activity
            android:name=".Gkuaidibao.activity.KuaiDiActivity"
            android:label="@string/title_activity_kuai_di">
        </activity>
        <activity
            android:name=".Gkuaidibao.activity.SearchActivity"
            android:label="@string/title_activity_search">
        </activity>
        <activity
            android:name=".Gkuaidibao.activity.KuaiDiDetailActivity"
            android:label="@string/title_activity_kuai_di_detail">
        </activity>
        <activity android:name=".Gkuaidibao.activity.KuaiDiCompanyListActivity">
        </activity>
        <activity
            android:name=".Gkuaidibao.activity.CommonScanActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name=".Zeverything.EveryThingSoftInfoActivity">
        </activity>
        <activity android:name=".Cdachezuche.QiYeZuChe.ZuCheChooseDriverActivity">
        </activity>
        <activity android:name=".Cdachezuche.ZiJiaZuChe.ZiJiaZuCheActivity">
        </activity>
        <activity android:name=".Cdachezuche.ZiJiaZuChe.ZiJiaZuCheCommitOrderActivity">
        </activity>
        <activity android:name=".Cdachezuche.ZiJiaZuChe.OrderDetialActivity">
        </activity>
        <activity android:name=".Cdachezuche.DaCheZhuCheActivity.DaCheZuCheMainActivity">
        </activity>
        <activity android:name=".Cdachezuche.DaCheZhuCheActivity.UsedAdressActivity">
        </activity>
        <activity android:name=".Cdachezuche.DaChe.DaCheActivity">
        </activity>
        <activity
            android:name=".Bchangtukepiao.activity.PayActivity"
            android:exported="true"
            android:label="@string/title_activity_pay"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="wxa67cb8a1e90e486a"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".Cdachezuche.QiYeZuChe.ZuCheJiGuoOrderDetailActivity">
        </activity>
        <activity android:name=".Cdachezuche.QiYeZuChe.AppraiseDriverActivity">
        </activity>
        <activity android:name=".Abusline.busline_aiton.BusOnLineWebActivity">
        </activity>
        <activity android:name=".Zeverything.RegisterActivity">
        </activity>
        <activity android:name=".Zeverything.UpdatePasswordActivity">
        </activity>
        <activity android:name=".Zeverything.MineInfoActivity">
        </activity>
    </application>

</manifest>
